{% extends 'layouts/application.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
  <div class="container" style="max-width: 400px;">
    <h2>{{hometitle}}</h2>
    <form accept-charset="UTF-8" action="/login" method="POST" role="form">
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" id="email" name="email" type="text" value="{{form.email}}" autofocus>
      </div>
      <div class="form-group">
        <label for="user_password">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password">
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    <hr>
    <p class="text-center"><a href="/signup">sign up here</a> or <a href="/forgot">forgot password?</a></p>

	<div class="form-group">
	<hr>
	</div>

	<div class="form-group">
	        <a href="/auth/facebook" class="btn-lg btn-block btn-facebook btn-social"><i class="fa fa-facebook">
	                </i>Sign in with Facebook
	        </a><a href="/auth/twitter" class="btn-lg btn-block btn-twitter btn-social"><i class="fa fa-twitter">
	                </i>Sign in with Twitter
	        </a><a href="/auth/google" class="btn-lg btn-block btn-google btn-social"><i class="fa fa-google-plus">
	                </i>Sign in with Google
	        </a><a href="/auth/github" class="btn-lg btn-block btn-github btn-social"><i class="fa fa-github">
	                </i>Sign in with GitHub
	        </a><a href="/auth/linkedin" class="btn-lg btn-block btn-linkedin btn-social"><i class="fa fa-linkedin">
	                </i>Sign in with LinkedIn
	        </a><a href="/auth/instagram" class="btn-lg btn-block btn-instagram btn-social"><i class="fa fa-instagram">
	                </i>Sign in with Instagram
	        </a>
	</div>  
</form>
</div>
{% endblock %}
